* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.just-around {
  justify-content: space-around;
}

.just-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.ul-nostyle {
  list-style: none;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

header .blue-header {
  background-color: dodgerblue;
  height: 30px;
}
header ul {
  margin: 20px 0px;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
header ul li {
  margin-right: 30px;
}
header ul li a {
  text-decoration: none;
  color: dimgray;
}

.bg-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
}
.bg-hero .hero {
  height: 390px;
}
.bg-hero .hero img {
  bottom: 0;
  left: 5rem;
}