.bg-hero {
    height: 390px;
    background-image: url('../images/bg-hero-home.jpg');
    background-size: cover;
    
    .hero {
        height: 390px;

        img {
            bottom: 0;
            left: 5rem;
        }
    }
    
}