.comics-area {
    background-color: rgb(31, 31, 31);


    .comics-list {


        .comic {

            max-width: 140px;

            img {
                width: 100%;
            }

            a {
                color: rgb(226, 226, 226);
                text-decoration: none;
            }
        }
    }
}